*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    background-color: rgb(4, 4, 26);
    justify-content: center;
    align-items: center;
}
.datetime{
    color: white;
    background-color: rgb(4, 4, 26);
    font-family: "segoe UI",sans-serif;
    font-weight: 600;
    border: 2px solid #2E94E3;
    width: 400px;
    padding: 12px 13px;
    border-radius: 6px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255,255,255,0.1));
    transition: 0.5s;
    transition-property: background-color box-shadow;
   
}
.date{
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span:not(:last-child){
    position: relative;
    margin: 0 5px;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 600;
}
.datetime:hover{
    background-color:#2E94E3 ;
    box-shadow: 0 0 30px #2E94E3;
    transform: rotate3d(0,1,0,45deg);
    transition-delay: 0.2s;
}
.time span:last-child{
    background: #2E94E3;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 4px;
}